.cards_conteiner{
    
    width: 200px;
    height: 260px;
    perspective: 600px;
}
body{
    background-color: #121111;
}
.c{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card_face{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    color: #fff;
    font-size: 40px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 250px;
    height: 300px;
    color: #fff;
    font-weight: 700;
    margin-right: 20px; */
}

.card_front{
    background-color: darkred;
    float: left;
}
.card_back{
    background-color: darkblue;
    transform: rotateY(180deg);
}
.card_back:hover{
    background-color: darkblue;
    transform: rotateY(-180deg);
    cursor: pointer;
}
