body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.d1{
    width: 200px;
    height: 200px;
    background-color: tomato;
    transform: perspective(900px) rotateX(45deg);
}
.parent_node{
    perspective: 300px;
}
.item{
    width: 100px;
    height: 100px;
    background-color: darkred;
    transform: rotateY(-20deg) skewY(45deg);
    margin: 10px 0px;
}