@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* SELETOR UNIVERSAL PARA DEFINIR UMA UNICA FAMILIA DE FONTE PARA OS TEXTOS DA NOSSA PAGINA */
*{
    font-family: "Montserrat", sans-serif;
    color: #ccc;
    letter-spacing: 0.5px;
}
:root{
    --border-radius: 10px
}

body{
    background-color: #121111;
}
h1{
    text-align: center;
}
/** ================================================================== */
/* ESTILIZANDO OS LINKS DA NOSSA NAV BAR*/
/** ================================================================== */
nav{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;

     & ul{
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: start;
        margin: 0;
        padding: 0;

        & li{
            display: flex;
            align-items: center;
            justify-content: center;
            /* border: 1px solid tomato; */

            & a:link{
                text-decoration: none;
                padding: 10px;
                /* display: block; */

            }
            & a:active{
                color: tomato;
            }

            & a:hover{
                background-color: #1b1b1b;
                border-radius: var(--border-radius);
                color: rgb(213, 102, 156);
            }
        }
        
     }
}
ins{
    color: rgb(213, 102, 156);
    background-color: rgba(81, 50, 50, 0.361);
    padding-inline: 5px;
    font-weight: 600;
}
ul li{
    margin: 10px 0px;
}
.t{
    width: 150px;
    height: 150px;
    background-color: rgb(246, 67, 35);
    transition: all 2s;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #121111;
}
/** ================================================================== */
/* MOSTAR O USO DA PROPRIEDADE TRANSFORM TRANSLATE()*/
/** ================================================================== */
.conteiner{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 10px;
}
.testes{
    width: 350px;
    height: 300px;
    background-color: #d9d7d7;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;

    & div.tran{
        position: absolute;
        top: 11px;
        left: 11px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius);
        
    }

    & div.tranx{
        --boder_radius: 10px;
        position: absolute;
        top: 11px;
        left: 11px;
        z-index: 1;
        transition: all 2s;
        display: flex;
        align-items: center;
        border-radius: var(--boder_radius);
    }

    & div.trany{
        position: absolute;
        top: 11px;
        left: 11px;
        z-index: 1;
        transition: all 2s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius);

    }
}
.ori{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    color: #121111;
    font-size: 18px;
    font-weight: 700;
    border: 1px dashed #121111;
    z-index: 1px;
    border-radius: var(--border-radius);
}
div.tran:hover {
    transform: translate(70px, 50px);
    opacity: .6;
    border-radius: var(--border-radius);

}
div.tranx:hover {
    transform: translate(100px, 0px);
    opacity: .6;
    border-radius: var(--border-radius);

}
div.trany:hover {
    transform: translate(0px, 100px);
    opacity: .6;
    border-radius: var(--border-radius);

}

/** ================================================================== */
/* MOSTAR O USO DA PROPRIEDADE TRANSFORM ROTATE() */
/** ================================================================== */
.rota{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

div.grau_45:hover{
   transform: rotate(45deg);
}
div.grau_180:hover{
   transform: rotate(180deg);
}
div.grau_360:hover{
   transform: rotate(360deg);
}
div.eixo_x:hover{
   transform: rotateX(45deg);
}
div.eixo_y:hover{
   transform: rotateY(45deg);
}



